:root {
  --wooden: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Horror/wooden.jpg);
  --forest: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Horror/forest.jpg);
  --sweets: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Cute/sweets1.jpg);
  --bubbles: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Cute/bubbles.jpg);
  --crackle: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Minimalist/crackle.jpg);
  --sparkle: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Minimalist/sparkle.jpg);
  --rainbow: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Rainbow/rainbow-paint.jpg);
  --smoke: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Rainbow/rainbow-smoke.jpg);
  --nightsky: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Sleek/nightsky.jpg);
  --sunset: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Sleek/sunset.jpg);

  /* COLORS */
  --blood: #8a0303;
  --slime: #228b22;
  --gloom: #2b363b;
  --candy: #ee698e;
  --purple: #7b1e7a;
  --blue: #2176ae;
  --olive: #a6c48a;
  --royal: #0a1045;
  --lilac: #b8aed6;
  --snow: #f4f9e9;
  --green: #8cc63e;

  /* FONTS */
  --scary-font: "Metal Mania";
  --typewriter-font: "Inconsolata";
  --funny-font: "Balsamiq Sans";
  --curly-font: "Pacifico";
  --old-style-font: "Cinzel";
  --simple-font: "Noto Sans HK";
  --funky-font: "MuseoModerno";
  --sweet-font: "Lobster";
}

body {
  /*
  CHALLENGE: change the background to one you like
  */
  --background-image: var(--smoke);

  /*
  CHALLENGE: change the main color to one you like!
  */
  --main-color: var(--gloom);

  /* 
  CHALLENGE: change the font to one you think is cool
  */
  font-family: var(--simple-font);
}

.grid {
  /* 
  BONUS CHALLENGE: adjust how many columns you'd like to have
  */
  column-count: 3;
  column-gap: 10px;
}

.img {
  border-image: var(--sunset) 100;
}

.flex {
  display: flex;
}

form {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.input {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-btn {
  cursor: pointer;
  border: 1px solid #dedede;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

input {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

input[type="text"] {
  width: 400px;
}
