* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .story-title {
    display: flex;
    justify-content: center;
  }
  .our-story {
    width: 105px;
    height: 27px;

    font-family: Work Sans;
    font-style: normal;
    border-bottom: black solid 1px;
    padding-bottom: 10px;
    margin: 10px 0 30px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #000000;
  }
  .gus-desktop {
    display: none;
  }
  .hummus-chips {
    display: none;
  }
  .who-we-are {
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
  }
  h3 {
    width: 97px;
    height: 17px;
    text-align: center;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    border-bottom: black solid 1px;
    padding-bottom: 25px;
  }
  .our-story-grid {
    margin: 0 45px;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
  }
  img {
    max-width: 100%;
    height: auto;
    z-index: 1;
  }
  .gus-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  .spoon-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 59px 0 81px;
  }
  p {
    margin-bottom: 20px;

    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */

    color: #000000;
  }
}

@media only screen and (min-width: 701px) and (max-width: 999px) {
  .story-title {
    display: flex;
    justify-content: center;
  }
  .our-story {
    width: 105px;
    height: 27px;

    font-family: Work Sans;
    font-style: normal;
    border-bottom: black solid 1px;
    padding-bottom: 10px;
    margin: 8px 0 30px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #000000;
  }
  .gus-mobile {
    display: none;
  }

  .green-falafel {
    display: none;
  }
  .who-we-are {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  h3 {
    width: 97px;
    height: 17px;
    text-align: center;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    border-bottom: black solid 1px;
    padding-bottom: 25px;
  }
  .our-story-grid {
    margin: 0 45px;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
  }
  img {
    max-width: 100%;
    height: auto;
    z-index: 1;
  }
  .gus-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  .spoon-img-container {
    display: none;
  }
  .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 59px 0 81px;
  }
  p {
    margin-bottom: 20px;

    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */

    color: #000000;
  }
}

@media only screen and (min-width: 1000px) {
  .story-title {
    display: flex;
    justify-content: center;
  }
  .our-story {
    width: 199px;
    height: 38px;

    border-bottom: black solid 1px;
    padding-bottom: 45px;
    margin: 8px 0 10px;

    text-align: center;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
  }
  .gus-mobile {
    display: none;
  }

  .green-falafel {
    display: none;
  }
  .who-we-are {
    display: flex;
    justify-content: center;
  }
  .wwa-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  h3 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 38px;
  }
  .our-story-grid {
    margin: 82px 72px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
  }
  img {
    max-width: 100%;
    height: auto;
    z-index: 1;
  }
  .gus-img-container {
    display: flex;
    grid-column: 2/3;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 24px;
    margin-left: 84px;
  }
  .spoon-img-container {
    display: none;
  }
  .images-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 59px 0 80px;
    grid-column: 1/3;
  }
  p {
    margin-bottom: 35px;

    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    /* or 183% */

    color: #000000;
  }
}
