* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ftmenu {
  position: absolute;
  width: 206px;
  height: 23px;
  left: 84px;
  top: 80px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  color: #000000;
}

.underline1 {
  position: absolute;
  width: 206px;
  height: 0px;
  left: 84px;
  top: 115px;
  margin-top: 5px;

  border: 1px solid #000000;
}
.e-menu {
  position: absolute;
  width: 95px;
  height: 17px;
  left: 24px;
  top: 139px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.underline2 {
  position: absolute;
  width: 79px;
  height: 0px;
  left: 24px;
  top: 164px;

  border: 1px solid #000000;
  margin-top: 5px;
}

.fsandwich {
  position: absolute;
  width: 109px;
  height: 16px;
  left: 24px;
  top: 180px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}

.num1 {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 178px;
  top: 182px;

  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  color: #000000;
}

.descript1 {
  position: absolute;
  width: 122px;
  height: 39px;
  left: 24px;
  top: 204px;

  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #000000;
}

.csandwich {
  position: absolute;
  width: 116px;
  height: 16px;
  left: 24px;
  top: 259px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}

.num2 {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 178px;
  top: 258px;

  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.descript2 {
  position: absolute;
  width: 122px;
  height: 48px;
  left: 24px;
  top: 281px;

  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #000000;
}

.ksandwich {
  position: absolute;
  width: 116px;
  height: 16px;
  left: 24px;
  top: 345px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}

.num3 {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 178px;
  top: 347px;

  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.descript3 {
  position: absolute;
  width: 122px;
  height: 36px;
  left: 24px;
  top: 367px;

  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  color: #000000;
}

.chick {
  position: absolute;
  width: 143px;
  height: 252px;
  left: 208px;
  top: 139px;
}

.psent1 {
  position: absolute;
  width: 326px;
  height: 29px;
  left: 24px;
  top: 427px;

  font-family: Bitter;
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;

  color: #000000;
}

.psent2 {
  position: absolute;
  width: 326px;
  height: 23.33px;
  left: 24px;
  top: 463.67px;

  font-family: Bitter;
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;

  color: #000000;
}

.hummus {
  position: absolute;
  width: 134px;
  height: 153px;
  left: 24px;
  top: 511px;
}

.s-menu {
  position: absolute;
  width: 43px;
  height: 19px;
  left: 176px;
  top: 508px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}

.underline3 {
  position: absolute;
  width: 34px;
  height: 0px;
  left: 176px;
  top: 535px;

  border: 1px solid #000000;
  margin-top: 5px;
}

.humbowl {
  position: absolute;
  width: 125px;
  height: 14px;
  left: 175px;
  top: 551px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #000000;
}

.num4 {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 345px;
  top: 552px;

  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  color: #000000;
}

.fries {
  position: absolute;
  width: 30px;
  height: 14px;
  left: 175px;
  top: 589px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #000000;
}

.num5 {
  position: absolute;
  width: 14px;
  height: 12px;
  left: 337px;
  top: 591px;

  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  color: #000000;
}

.bev {
  position: absolute;
  width: 55px;
  height: 14px;
  left: 176px;
  top: 627px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #000000;
}

.num6 {
  position: absolute;
  width: 6px;
  height: 12px;
  left: 345px;
  top: 628px;

  font-family: Bitter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  color: #000000;
}

.grill {
  position: absolute;
  width: 326px;
  height: 123px;
  left: 24px;
  top: 735px;
}

.ellipse1 {
  position: absolute;
  border-radius: 100%;
  width: 178px;
  height: 178px;
  left: 250px;
  top: 750px;

  background: rgba(140, 198, 62, 0.15);
}
.ellipse2 {
  position: absolute;
  border-radius: 100%;
  width: 312px;
  height: 312px;
  left: 177px;
  /* overflow: hidden; */

  top: 127px;

  background: rgba(248, 147, 31, 0.15);
}

.ellipse3 {
  position: absolute;
  border-radius: 100%;
  width: 312px;
  height: 312px;
  left: 63px;
  top: 497px;

  background: rgba(248, 147, 31, 0.15);
}

.ellipse4 {
  position: absolute;
  border-radius: 100%;
  width: 367px;
  height: 367px;
  left: -138px;
  top: 205px;

  background: rgba(140, 198, 62, 0.15);
}

.ellipse5 {
  position: absolute;
  border-radius: 100%;
  width: 246px;
  height: 246px;
  left: 11px;
  top: 1040px;

  background: rgba(248, 147, 31, 0.15);
}

.ellipse6 {
  position: absolute;
  border-radius: 100%;
  width: 197px;
  height: 197px;
  left: -39px;
  top: 773px;

  background: rgba(248, 147, 31, 0.15);
}

.outer-1 {
  width: 375px;
  position: relative;
  overflow: hidden;
  height: 1000px;
}

.header {
  position: absolute;
  width: 375px;
  height: 72px;
  left: 0px;
  top: 0px;

  background: #000000;
}

.navbar-logo {
  position: absolute;
  width: 95px;
  height: 39px;
  left: 140px;
  top: 27px;
}

.hamburger {
  position: absolute;

  right: 12.5%;

  bottom: 25%;
}
.nb-ellipse1 {
  position: absolute;
  border-radius: 100%;
  width: 408px;
  height: 408px;
  left: -142px;
  top: 7px;

  background: rgba(140, 198, 62, 0.15);
}

.nb-ellipse2 {
  position: absolute;
  border-radius: 100%;
  width: 525px;
  height: 525px;
  left: 0px;
  top: 254px;

  background: rgba(233, 182, 123, 0.15);
}

.outer-2 {
  width: 375px;
  position: relative;
  overflow: hidden;
  height: 812px;
}
.line1 {
  position: absolute;
  width: 32.29px;
  height: 0px;
  left: 327px;
  top: 24px;

  border: 2.5px solid #000000;
  transform: matrix(0.67, -0.74, 0.74, 0.67, 0, 0);
}

.line2 {
  position: absolute;
  width: 32.29px;
  height: 0px;
  left: 327px;
  top: 24px;

  border: 2.5px solid #000000;
  transform: matrix(0.67, 0.74, -0.74, 0.67, 0, 0);
}

.home {
  position: absolute;
  width: 92px;
  height: 38px;
  left: 32px;
  top: 67px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */

  color: #000000;
}
.food-truck-menu {
  position: absolute;
  width: 305px;
  height: 42px;
  left: 32px;
  top: 137px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
.catering {
  position: absolute;
  width: 149px;
  height: 42px;
  left: 32px;
  top: 211px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

.our-story {
  position: absolute;
  width: 171px;
  height: 42px;
  left: 32px;
  top: 285px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
.schedule {
  position: absolute;
  width: 165px;
  height: 42px;
  left: 32px;
  top: 359px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}
.retail-products {
  position: absolute;
  width: 273px;
  height: 42px;
  left: 32px;
  top: 433px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

@media only screen and (min-width: 400px) {
  .outer-1 {
    width: 1442px;
    position: relative;
    overflow: hidden;
    height: 1330px;
  }
  .ellipse1 {
    position: absolute;
    width: 428px;
    height: 428px;
    left: 1035px;
    top: 156px;

    background: rgba(140, 198, 62, 0.2);
  }

  .ellipse2 {
    position: absolute;
    width: 428px;
    height: 428px;
    left: 1226px;
    top: 682px;

    background: rgba(140, 198, 62, 0.2);
  }
}
