* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  position: relative;
  overflow: hidden;
} */
@media only screen and (max-width: 500px) {
  .title-container {
    display: flex;
    justify-content: center;
  }

  .chick {
    height: 252;
    width: 143;
    z-index: 1;
  }

  .grid-container {
    display: grid;
    margin: 24px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .inner-container {
    flex: 1;
    display: flex;
  }
  .inner-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .inner-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .inner-container4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .num1 {
    display: flex;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .num2 {
    display: flex;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .num3 {
    display: flex;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .inner-container5 {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/5;
  }
  .chick-div {
    margin-left: 20px;
  }

  .ftmenu {
    width: 206px;
    height: 23px;
    margin-top: 8px;
    padding-bottom: 35px;
    border-bottom: 1px black solid;
    top: 80px;

    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #000000;
  }

  .e-menu {
    position: absolute;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
    width: 95px;
    height: 17px;
    left: 24px;
    top: 139px;

    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
  }

  .fsandwich {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
  }

  .nums {
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
  }

  .descript1 {
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
  }

  .csandwich {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
  }

  .descript2 {
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
  }

  .ksandwich {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
  }

  .descript3 {
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
  }

  .psents {
    font-family: Bitter;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    padding: 7.67px 0 0 24px;

    color: #000000;
  }

  .grid-container2 {
    margin: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .s-menu {
    font-family: Work Sans;
    padding-bottom: 8px;
    width: 44px;
    border-bottom: solid 1px black;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
  }
  .side-container {
    grid-column: 2/4;
  }

  .humbowl {
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
  }

  .hum-container {
    display: flex;
    grid-row: 1/5;
    z-index: 1;
  }
  .num4 {
    display: flex;
    justify-content: center;
    grid-row: 2/3;
    grid-column: 3/4;
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
  }

  .fries {
    grid-row: 3/4;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
  }

  .num5 {
    display: flex;
    justify-content: center;
    grid-row: 3/4;
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
  }

  .bev {
    grid-column: 2/3;
    grid-row: 4/5;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
  }

  .num6 {
    display: flex;
    justify-content: center;
    grid-row: 4/5;
    font-family: Bitter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
  }

  .grill {
    z-index: 1;
    width: 326px;
    margin: 71px 24px;
    height: 123px;
  }
  .grill-container {
    display: flex;
    justify-content: center;
  }
  .ellipse1 {
    position: absolute;
    border-radius: 100%;
    width: 178px;
    height: 178px;
    left: 250px;
    top: 750px;

    background: rgba(140, 198, 62, 0.15);
  }
  .ellipse2 {
    position: absolute;
    border-radius: 100%;
    width: 312px;
    height: 312px;
    left: 177px;

    top: 127px;

    background: rgba(248, 147, 31, 0.15);
  }

  .ellipse3 {
    position: absolute;
    border-radius: 100%;
    width: 312px;
    height: 312px;
    left: 63px;
    top: 497px;

    background: rgba(248, 147, 31, 0.15);
  }

  .ellipse4 {
    position: absolute;
    border-radius: 100%;
    width: 367px;
    height: 367px;
    left: -138px;
    top: 205px;

    background: rgba(140, 198, 62, 0.15);
  }

  .ellipse5 {
    position: absolute;
    border-radius: 100%;
    width: 246px;
    height: 246px;
    left: 11px;
    top: 1040px;

    background: rgba(248, 147, 31, 0.15);
  }

  .ellipse6 {
    position: absolute;
    border-radius: 100%;
    width: 197px;
    height: 197px;
    left: -39px;
    top: 773px;

    background: rgba(248, 147, 31, 0.15);
  }

  .outer-1 {
    width: 375px;
    z-index: -1;
    position: relative;
    overflow: hidden;
    height: 1000px;
  }

  .header {
    height: 72px;
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;

    background: #000000;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 100%;
    left: 0px;
    top: 0px;
  }
  .navbar-logo {
    width: 95px;
    height: 39px;
  }

  .hamburger {
    position: absolute;

    right: 12.5%;

    bottom: 25%;
  }
  .nb-ellipse1 {
    position: absolute;
    border-radius: 100%;
    width: 408px;
    height: 408px;
    left: -142px;
    top: 7px;

    background: rgba(140, 198, 62, 0.15);
  }

  .nb-ellipse2 {
    position: absolute;
    border-radius: 100%;
    width: 525px;
    height: 525px;
    left: 0px;
    top: 254px;

    background: rgba(233, 182, 123, 0.15);
  }

  /* .outer-2 {
  width: 375px;
  position: relative;
  overflow: hidden;
  height: 812px;
} */
  .x-container {
    position: relative;
    width: 100%;
    height: 24px;
    left: 0px;
    top: 0px;
  }
  .x {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 24px;

    right: 12.5%;
  }
  .home {
    font-family: Work Sans;
    font-style: normal;
    margin: 46px 0 32px 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;

    color: #000000;
  }
  .food-truck-menu {
    font-family: Work Sans;
    font-style: normal;
    margin: 32px 0 32px 32px;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
  }
  .catering {
    font-family: Work Sans;
    font-style: normal;
    margin: 32px 0 32px 32px;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
  }

  .our-story {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    margin: 32px 0 32px 32px;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
  }
  .schedule {
    font-family: Work Sans;
    font-style: normal;
    margin: 32px 0 32px 32px;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
  }
  .retail-products {
    font-family: Work Sans;
    font-style: normal;
    margin: 32px 0 32px 32px;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
  }
}
@media only screen and (min-width: 1140px) {
  .navbar {
    background-color: black;
    color: white;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    height: 124px;
    /* height: 124px; */
    display: flex;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  nav ul li img {
    position: absolute;
    cursor: auto;
    width: 202px;
    height: 91px;
    left: 70px;
    top: 17px;
  }
  .nav-img {
    display: flex;
    justify-content: center;
    width: 383px;
    cursor: auto;
  }
  nav ul li {
    cursor: pointer;
    padding: 24px;
  }
  nav ul li:hover {
    color: #8cc63e;
  }
}

@media only screen and (min-width: 501px) {
  .ftmenu {
    /* width: 206px; */
    /* height: 23px; */
    margin-top: 8px;
    padding-bottom: 35px;
    border-bottom: 1px black solid;
    top: 80px;

    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000;
  }
  .title-container {
    display: flex;
    justify-content: center;
  }
  .grid-container {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 2fr 1fr;
  }
  .inner-container5 {
    display: flex;
    grid-row: 1/13;
    grid-column: 2/3;
  }
  .inner-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .inner-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .inner-container4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .num1 {
    display: flex;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .num2 {
    display: flex;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .num3 {
    display: flex;
    justify-content: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .psent1 {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .psent2 {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  .side-container1 {
    grid-row: 9/10;
    grid-column: 1/2;
  }
  .side-container2 {
    grid-row: 10/11;
    grid-column: 1/2;
  }
  .side-container3 {
    grid-row: 11/12;
    grid-column: 1/2;
  }
  .side-container4 {
    grid-row: 12/13;
    grid-column: 1/2;
  }
}
