body {
  margin: 0;
}

html {
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding-top: 2.5em;
  background: rgb(236, 32, 32);
  height: 100px;
  background: linear-gradient(
    90deg,
    rgba(236, 32, 32, 1) 25%,
    rgba(179, 139, 221, 1) 50%,
    rgba(115, 189, 146, 1) 75%
  );
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
